{% extends 'index.html' %}

{% block content %}


<!-- Modal -->
<div id="addDomainModal" class="fixed inset-0 z-50 hidden overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
    <!-- Background overlay, show/hide based on modal state. -->
    <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75" aria-hidden="true"></div>

    <!-- Modal content -->
    <div class="inline-block overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <!-- Modal header -->
      <div class="px-4 pt-5 pb-4 bg-white sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Add Domain</h3>
          </div>
        </div>
      </div>
      <!-- Modal body -->
      <div class="px-4 py-3 bg-gray-50 sm:px-6 sm:flex sm:flex-row-reverse">
        <form id="addDomainForm" class="w-full max-w-lg">
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
              <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="domain-name">
                Domain Name
              </label>
              <input class="block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-gray-500" id="domain-name" type="text" placeholder="example.com">
            </div>
          </div>
          <div class="flex justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
            <button class="px-6 py-2 mb-1 mr-1 text-sm font-bold text-red-500 uppercase transition-all duration-150 ease-linear bg-transparent border border-solid rounded outline-none focus:outline-none" type="button" onclick="toggleModal('addDomainModal')">
              Close
            </button>
            <button class="px-6 py-2 mb-1 mr-1 text-sm font-bold text-white uppercase transition-all duration-150 ease-linear bg-blue-500 rounded shadow outline-none active:bg-blue-600 hover:shadow-lg focus:outline-none" type="submit">
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<main id="page-content" class="flex max-w-full flex-auto flex-col">
      <!-- Page Heading -->
      <div class="container mx-auto px-4 pt-6 lg:px-8 lg:pt-8 xl:max-w-7xl">
        <div class="flex flex-col gap-2 text-center sm:flex-row sm:items-center sm:justify-between sm:text-start">
          <div class="grow">
            <h1 class="mb-1 text-xl font-bold">Domains</h1>
            <h2 class="text-sm font-medium text-neutral-500">
          Monitor domains expiration dates, whois changes, uptime and SSL status.
            </h2>
          </div>
          <div class="flex flex-none items-center justify-center gap-2 rounded sm:justify-end">
            <div class="relative">
<a href="javascript:void(0)" onclick="toggleModal('addDomainModal')" class="inline-flex items-center justify-center gap-2 rounded-lg border border-neutral-200 bg-black text-white px-3 py-2 text-sm font-semibold leading-5 text-neutral-800 hover:border-neutral-300 active:border-neutral-200">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>Add
</a>
            </div>
          </div>
        </div>
      </div>
      <!-- END Page Heading -->    
      <!-- Page Section -->
      <div class="container mx-auto p-4 lg:p-8 xl:max-w-7xl">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 lg:gap-8">
          <!-- Tickets -->
          <div class="flex flex-col rounded-lg border bg-white sm:col-span-2 lg:col-span-4">
            <div class="flex flex-col items-center justify-between gap-4 border-b border-neutral-100 p-5 text-center sm:flex-row sm:text-start">
              <div>
                <h2 class="mb-0.5 font-semibold">Monitor Domains</h2>
                <h3 class="text-sm font-medium text-neutral-600">
                  {{ domains|length }} / 50
                </h3>
              </div>
              <div>
                <a href="javascript:void(0)" class="inline-flex items-center justify-center gap-2 rounded-lg border border-neutral-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-neutral-800 hover:border-neutral-300 hover:text-neutral-950 active:border-neutral-200">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-table-import" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 21h-7a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v8" /><path d="M3 10h18" /><path d="M10 3v18" /><path d="M19 22v-6" /><path d="M22 19l-3 -3l-3 3" /></svg> Import
                </a>
                <a href="javascript:void(0)" class="inline-flex items-center justify-center gap-2 rounded-lg border border-neutral-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-neutral-800 hover:border-neutral-300 hover:text-neutral-950 active:border-neutral-200">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-table-export" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12.5 21h-7.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" /><path d="M3 10h18" /><path d="M10 3v18" /><path d="M16 19h6" /><path d="M19 16l3 3l-3 3" /></svg> Export
                </a>
              </div>
            </div>
            <div class="p-5">
              <!-- Responsive Table Container -->
              <div class="min-w-full overflow-x-auto rounded">
                <!-- Alternate Responsive Table -->
                <table class="min-w-full align-middle text-sm">
                  <!-- Table Header -->
                  <thead>
                    <tr class="border-b-2 border-neutral-100">
                      <th class="min-w-[180px] px-3 py-2 text-start text-sm font-semibold uppercase tracking-wider text-neutral-700">
                        Domain
                      </th>
                      <th class="min-w-[180px] px-3 py-2 text-start text-sm font-semibold uppercase tracking-wider text-neutral-700">
                        Registrar ID
                      </th>
                      <th class="min-w-[180px] px-3 py-2 text-start text-sm font-semibold uppercase tracking-wider text-neutral-700">
                        SSL Status
                      </th>
                      <th class="px-3 py-2 text-start text-sm font-semibold uppercase tracking-wider text-neutral-700">
                        SSL Status
                      </th>
                      <th class="px-3 py-2 text-start text-sm font-semibold uppercase tracking-wider text-neutral-700">
                        HTTP Response
                      </th>
                      <th class="min-w-[100px] p-3 py-2 text-end text-sm font-semibold uppercase tracking-wider text-neutral-700"></th>
                    </tr>
                  </thead>
                  <!-- END Table Header -->

                  <!-- Table Body -->
                  <tbody>

                {% for domain in domains %}
                    <tr class="border-b border-neutral-100 hover:bg-neutral-50">
                      <td class="p-3 font-medium text-neutral-600">
                        <a href="/domains/{{ user.username }}/{{ domain.domain }}" class="underline decoration-neutral-200 decoration-2 underline-offset-4 hover:text-neutral-950 hover:decoration-neutral-300">{{ domain.domain }}</a>
                      </td>
                      <td class="p-3 text-start text-neutral-600">
                        {{ domain.registrar_id }}
                      </td>
                      <td class="p-3 text-start">
                            {% if domain.whois_results_last_row %}
                                {% if 'Status' in domain.whois_results_last_row %}
                                    {{ domain.whois_results_last_row }}
                                {% else %}
                                    None
                                {% endif %}
                            {% else %}
                                None
                            {% endif %}
                      </td>
                      <td class="p-3 font-medium">
                        <div class="inline-block whitespace-nowrap rounded-full bg-purple-100 px-2 py-1 text-xs font-semibold leading-4 text-purple-800">
                            {% if domain.ssl_info_last_row %}
                                {% if 'Expiration Date' in domain.ssl_info_last_row %}
                                    {{ domain.ssl_info_last_row }}
                                {% else %}
                                    None
                                {% endif %}
                            {% else %}
                                None
                            {% endif %}
                        </div>
                      </td>
                      <td class="p-3 font-medium">
                        {% if domain.response_last_row %}
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Last checked at: {{ domain.response_last_row[:domain.response_last_row.rfind('-')] }}">{{ domain.response_last_row.split(' ')|last }}</span>
                        {% else %}
                            ?
                        {% endif %}
                      </td>
                      <td class="p-3 text-end font-medium">
                        <a href="javascript:void(0)" class="inline-flex items-center justify-center gap-2 rounded-lg border border-neutral-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-neutral-800 hover:border-neutral-300 hover:text-neutral-950 active:border-neutral-200">
                          <span>View</span>
                          <svg class="hi-mini hi-arrow-right inline-block h-5 w-5 text-neutral-400 group-hover:text-blue-600 group-active:translate-x-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd"></path>
                          </svg>
                        </a>
                      </td>
                    </tr>
                {% endfor %}
                      
                  </tbody>
                  <!-- END Table Body -->
                </table>
                <!-- END Alternate Responsive Table -->
              </div>
              <!-- END Responsive Table Container -->
            </div>
          </div>
          <!-- END Tickets -->
        </div>
      </div>
      <!-- END Page Section -->
    </main>



{% endblock %}
